<%= link_to 'Edit Entry', edit_designation_path(@designation.code) %> | <%= link_to 'Return to Designation List', designations_path %>
<h1><%= @designation.code %> - <%= @designation.designation %></h1>