<p>Welcome to the HR repository to track employees, program participants and recruiting evaluations. If you wish to send any comments or questions, feel free to email Caitlyn Sun at <a href="mailto:caitlyn.y.sun@gmail.com" target="_blank">caitlyn.y.sun@gmail.com</a>.</p>

<p>At this time, functionality is being developed for this site. At this time, the following functionality is available:
    <ul>
        <li>Associate Information
            <ul>
                <li>Add, view, edit and delete employees.</li>
            </ul>
        </li>
        <li>Recruiting
            <ul>
                <li>Add, view, edit and delete job openings (draft status).</li>
                <li>Submit job opening for publication.</li>
            </ul>
        </li>
        <li>Site Management
            <ul>
                <li>Add, view, edit and delete actuarial designations referenced in the Associate Information form.</li>
                <li>Add, view, edit and delete Fellow of Society of Actuaries (FSA) tracks per the <a href="https://www.soa.org" target="_blank">Society of Actuaries (SOA)</a> FSA track listing. This will be referenced in the Application form.</li>
            </ul>
        </li>
    </ul>
</p>