// Place all the styles related to the Participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Styles for Form
#emp-nav, #emp-cont {
    border: rgb(103, 131, 255) solid 3px;
}

#work-nav, #work-cont {
    border: rgb(250, 103, 255) solid 3px;
}

#man-nav, #man-cont {
    border: rgb(48, 173, 68) solid 3px;
}

#conf-nav, #conf-cont {
    border: rgb(255, 102, 55) solid 3px;
}

#stud-nav, #stud-cont {
    border: rgb(55, 165, 255) solid 3px;
}